.dessert-image {
    position: absolute;
    background-image: url("../images/coffee.png");
    width: 200px;
    height: 200px;
    left: 410px;
    top: 78px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 65% 65%;
}